.store {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  /* grid-template-rows: repeat(1, 0.5fr); */
  gap: 125px;
  place-content: center;
  position: fixed;

  height: 100%;
  width: 100%;
  background-color: var(--background);
}
