.Button {
  position: absolute;
  left: 6.97%;
  right: 6.97%;
  top: 24.35%;
  bottom: 25.22%;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ff5858;
}
