.square,
.axis {
  width: 75px; /* adjust as needed */
  height: 75px; /* adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #cdcdcd;
}

.black {
  background-color: var(--primary--dim);
}

.square .chessPiece {
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.square .chessPiece:hover {
  cursor: grab;
}

.square .chessPiece:active {
  cursor: grabbing;
}
