.Store_Buttons-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.Store_Buttons-Placeholder {
  position: relative;
  width: 100%;
  height: 100%;
}

.Store_Button-Image {
  position: relative;
  scale: 2;
  top: 175px;
  left: 65px;
  z-index: 100;
}
