@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Open+Sans:wght@300;600&display=swap");

.NavBar-Container {
  position: absolute;
  background-color: #242020;
  width: 100%;
  height: 15%;
  left: 0px;
  top: 0px;
}

.NavBar-Gradient {
  position: absolute;
  width: 100%;

  background: #1a1616;
  box-shadow: 0px 4px 12.7px 4px rgba(0, 0, 0, 0.25);
}

.NavBar-linkContainer {
  position: absolute;
  left: -0.5%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.NavBar-Link-Home {
  position: absolute;
  left: 1.33%;
  right: 88.66%;
  top: 46.2%;
  bottom: 12.5%;
}

.Small-Rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #2b2121;
  box-shadow: 0px 4px 4.9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 82px;
}

.NavBar-Title {
  position: absolute;
  width: 100%;
  height: 7%;
  left: 10px;
  top: 0px;
  margin: 10px;
  z-index: 100;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 100%;
  display: flex;
  align-items: left;
  text-align: left;

  color: #ffffff;
}

.Small-Button {
  position: absolute;
  width: 100%;
  left: 6.97%;
  right: 6.97%;
  top: 24.35%;
  bottom: 25.22%;
  z-index: 100;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 220%;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--red);
}

.Large-Button {
  position: absolute;
  left: 6.97%;
  right: 6.97%;
  top: 24.35%;
  bottom: 25.22%;
  z-index: 100;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 220%;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--red);
}

.Large-Rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #2b2121;
  box-shadow: 0px 4px 4.9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 82px;
}

.NavBar-Link-Profile {
  position: absolute;
  left: 13.37%;
  right: 76.62%;
  top: 46.2%;
  bottom: 12.5%;
}

.NavBar-Link-Battle {
  position: absolute;
  left: 25.41%;
  right: 62.15%;
  top: 46.2%;
  bottom: 12.5%;
}

.NavBar-Link-Store {
  position: absolute;
  left: 39.87%;
  right: 47.69%;
  top: 46.2%;
  bottom: 12.5%;
}

.NavBar-Link-Money {
  position: absolute;
  left: 85.13%;
  right: 2.43%;
  top: 46.2%;
  bottom: 12.5%;
}

.Large-Button-Money {
  position: absolute;
  left: 6.97%;
  right: 6.97%;
  top: 24.35%;
  bottom: 25.22%;
  z-index: 100;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 220%;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--green);
}
