.square,
.axis {
  width: 75px; /* adjust as needed */
  height: 75px; /* adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #fff;
}

.black {
  background-color: var(--primary);
}

.square img {
    width: 65px;
    height: 65px;
}