.square,
.axis {
  width: 100px; /* adjust as needed */
  height: 100px; /* adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #fff;
}

.black {
  background-color: var(--primary);
}

.square img {
    width: 50px;
    height: 50px;
}